@charset "utf-8";

html{
    height: 100%;
}

body {
    position: relative;
    padding-bottom: 75px;
    min-height: 100%;
    overflow-x: hidden;
}

/*NAV*/
.header_nav {
    background: linear-gradient(90deg, #fff, rgba(0,0,0,.6) 60%);
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    width: 100%;
}

.global_nav_item {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.global_nav_item:hover {
    background: #fff;
    color:#42210b;
    transition: 0.3s;
}

.global_nav {
    display:flex;
    align-items: stretch;
}

.logo {
    width: 120px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 100%;
}

.section_inner{
    padding: 50px 10% 30px;
}

.key{
    height: 500px;
    background: center / cover no-repeat url(../imagen/sample_key.jpg);
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-family:'Noto Serif',Serif;
}

.key h1{
    font-size:2.5rem;
}

.section_title{
    font-family:'Noto Serif', Serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
/*MENU-------*/

.menu_title{
    display: inline-block;
    font-family: 'Noto Serif', Serif;
    font-size: 1.5rem;
    color: #42210b;
    border-bottom: solid #42210b;
    margin-bottom: 20px;
}

.center {
    text-align: center;
    padding: 20px;
}

.coffe_menu_image{
    border-radius: 50%;
    width: 20%;
}

/*MNEU RECOMENDADO*/
.menu_list_recommended {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu_item {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px; 
}

.menu_item_content {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    padding: 10px;
}

.menu_item_image{
    width: 55%;
    height: 300px;
    object-fit: cover;
}

/*MENU del cafe*/
.menu_section {
    background-image: url(../imagen/sample_menu_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.coffe_menu {
    background-color: #fff;
    padding: 20px;
    justify-content: center;
    
}

.coffe_menu_content {
    width: 80%;
    padding: 10px;
}

.coffe_menu_list_item {
    width: 49%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
}

.menu-btn{
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color:rgb(63, 47, 35);
    border-radius: 20px;

    font-family: JosefinSans-Bold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/*ACCESS*/
.info {
    display: flex;
}

.info_title {
    width: 80px;
}

.section_title {
    text-align: center;
}

.frame_child{
    width: 100%;
}

/*CONCEPT*/
.concept_inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.concept_content {
    width: 60%;
}

.concept_image {
    width: 35%;
}

/*--FOOTER--*/
.footer {
    width: 100%;
    height: 75px;
    position: absolute;
    background: #251e19;
    bottom: -75px;
    padding-bottom: 10px;
}


.footer_nav{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.footer_nav_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 0 10px;
}

.footer_logo{
    width: 80px;
}

.footer_rigth{
    color: #fff;
    text-align: center;
    font-size: 10px;
}
//contact form

@media (max-width: 576px) {
    .alert-validate::before {
        padding: 0 30px 0 10px;
    }

    .true-validate::after,
    .btn-hide-validate {
        right: 10px;
    }
}

.contact100-more {
    font-family: SourceSansPro-Regular;
    font-size: 16px;
    color: #999999;
    line-height: 1.5;
    text-align: center;
}

.contact100-more-highlight {
    color: #bd59d4;
}

.rs1-alert-validate.alert-validate::before {
    background-color: #fff;
}

.true-validate::after {
    content: "\f269";
    font-family: Material-Design-Iconic-Font;
    font-size: 15px;
    color: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62px;
    top: 0px;
    right:28px;
}
.btn-hide-validate {
    font-family: Material-Design-Iconic-Font;
    font-size: 15px;
    color: #fa4251;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62px;
    top: 0px;
    right: 28px;
}

a {
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: SourceSansPro-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}


input::-webkit-input-placeholder {
    color: #999999;
}

input:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder {
    color: #999999;
}

textarea::-webkit-input-placeholder {
    color: #999999;
}

textarea:-moz-placeholder {
    color: #999999;
}

textarea::-moz-placeholder {
    color: #999999;
}

textarea:-ms-input-placeholder {
    color: #999999;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.container {
    max-width: 1200px;
}

.container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;j
    padding: 15px;
    z-index: 1;
}

.container-contact100::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    pointer-events: none;
}

.contact100-map {
    z-index: -2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.wrap-contact100 {
    width: 80%;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 50px 25px 50px;
    height: auto;
    box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}



.contact100-form {
    width: 100%;
    display: grid; 
    align-items: center;
    justify-concept_content: center; 
}

.contact100-form-title {
    font-family: SourceSansPro-Bold;
    font-size: 30px;
    color:rgb(63, 47, 35);
    line-height: 1.2;
    text-align: center;
    padding-bottom: 34px;
}


.wrap-input100 {
    width: 90%;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
}

.input100 {
    width: 100%;
    background: transparent;
    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}


input.input100 {
    height: 62px;
    padding: 0 20px 0 20px;
}


textarea.input100 {
    min-height: 199px;
    padding: 19px 20px 0 23px;
}


.focus-input100 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.05);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100 {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
}

.container-contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 43px;
}

.contact100-form-btn {
   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color:rgb(63, 47, 35);
    border-radius: 21px;

    font-family: JosefinSans-Bold;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 5px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

@media (max-width: 768px) {
    .wrap-contact100 {
        padding: 72px 50px 25px 50px;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 72px 15px 25px 15px;
    }
}


.validate-input {
    //position: relative;
}

.alert-validate .focus-input100 {
    box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(250, 66, 81, 0.1);
}

.alert-validate::before {
    content: attr(data-validate);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 62px;
    background-color: #fff;
    border-radius: 20px;
    top: 0px;
    left: 0px;
    padding: 0 45px 0 22px;
    pointer-events: none;

    font-family: SourceSansPro-Bold;
    font-size: 16px;
    color: #fa4251;
    line-height: 1.2;
}